body {
    background: linear-gradient(90deg, rgba(245,224,212,1) 30%, rgba(238,176,140,1) 100%);
}

#formulario {
    width: 440px;
    position: relative;
    top: 230px;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px black;
    background-color: #7C3939;
    margin: auto;
    padding: 10px 20px;
}

form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#titulo {
    font-size: 40px;
    color: #F5E0D4;
}

#alterarSenha {
    display: flex;
    flex-direction: column;
}

#submit {
    width: 260px;
    height: 45px;
    border: 2px solid #282525;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: #F5E0D4;
    color: #7C3939;
    transition: 0.5s;
}

#submit:hover {
    transform: scale(1.05);
    font-size: 21px;
    cursor: pointer;
}

#submit:active {
    transform: scale(1);
}

label {
    width: fit-content;
    font-size: 22px;
    color: #F5E0D4;
}

input {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: solid 2px black;
    border-radius: 5px;
}

@media (max-width: 530px) {
    #formulario, form {
        width: 250px;
    }

    input, #submit {
        width: 230px;
    }
}