body {
    background: linear-gradient(90deg, rgba(245,224,212,1) 30%, rgba(238,176,140,1) 100%);
}

#titulo {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 90px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 50px;
    font-weight: 600;
    color: #282525;
    cursor: default;
}

#addArtista {
    position: relative;
    top: 100px;
    left: 30px;
    font-size: 20px;
    font-weight: 600;
    background-color: #EEB08C;
    border: 2px solid #282525;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}

#artistas {
    width: 100vw;
    position: relative;
    top: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.artista {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7C3939;
    border: 2px solid #282525;
    border-radius: 15px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.artista:hover {
    transform: scale(1.05);
}

.artista:active {
    transform: scale(1);
}

.nomeArtista {
    font-size: 30px;
    font-weight: 600;
    color: #F5E0D4;
}

.imagem {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ftArtista {
    width: 300px;
    height: 300px;
    border: 2px solid #282525;
    border-radius: 10px;
}

@media (max-width: 320px) {
    .artista {
        width: 280px;
    }

    .imagem {
        width: 280px;
        height: 280px;
    }

    .ftArtista {
        max-width: 280px;
        max-height: 280px;
    }
}