@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap");
body {
    background:  rgba(245,224,212,1) ;
    font-family: 'Lexend Exa';
}

#formulario {
    width: 90vw;
    position: relative;
    top: 12vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2vw;
    row-gap: 4vh;
    grid-template-areas:
    "titulo titulo titulo"
    "nome desc desc"
    "ftGuia desc desc"
    "finalizar finalizar finalizar";
    margin: auto;
    padding: 20px;
}

label {
    width: fit-content;
    font-size: 22px;
    color: #282525;
    font-family: "Lexend Exa";
}

input {
    width: 20vw;
    font-size: 16px;
    padding: 2px 4px;
    margin:2px;
    border: solid 0.1em #282525;
    border-radius: 3px;
    font-weight: 500;
    font-family: "Lexend Exa";
}
textarea {
    font-size: 16px;
    padding: 1px 3px;
    width: 43vw;
    font-weight: 500;
    font-family: "Lexend Exa";
}

#titCadastro {
    font-size: 50px;
    font-weight: 600;
    grid-area: titulo;
}

#nome {
    grid-area: nome;
}

#desc {
    grid-area: desc;
}

#descricao {
    height: 24vh;
    resize: none;
}

#ftGuia {
    grid-area: ftGuia;
}

#finalizar {
    text-align: center;
    grid-area: finalizar;
}
.botao {
    width: 14em;
    height: 2.8em;
    border-radius: 0.3em;
    border: none;
    margin: auto;

    transition: transform 0.3s ease;
    font-family: "Lexend Exa";
    cursor: pointer;
    transition: 0.5s;


    background-color: #7c3939;
    color: #f5e0d4;
}
.botao:hover {
    background-color: #6e3131;
    box-shadow: 0 0 5px rgba(124, 57, 57, 0.5);
    transform: scale(1.1);}

.botao:active {
    background-color:  #5e2727;

}

#nome, #desc, #ftGuia {
    display: flex;
    flex-direction: column;
}