@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap");
body {
    background:  rgba(245,224,212,1) ;
    font-family: 'Lexend Exa';
}

#formulario {
    width: 90vw;
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2vw;
    row-gap: 4vh;
    grid-template-areas:
    "titulo titulo titulo titulo"
    "nome inauguracao tel ftMuseu"
    "desc desc diasFunc diasFunc"
    "cnpj estado cidade cep"
    "rua rua pontoRef pontoRef"
    "finalizar finalizar finalizar finalizar";
    margin: auto;
    padding: 20px;
}

label {
    width: fit-content;
    font-size: 22px;
    color: #282525;
    font-family: "Lexend Exa";
}

input, textarea, select, option {
    font-size: 16px;
    padding: 2px 4px;
    margin:2px;
    border: solid 0.1em #282525;
    border-radius: 3px;
}


input, select {
    width: 20vw;
}
input::placeholder{
    color: #999;
    font-style: italic;
}

textarea, #ruaDiv > input, #pontoRefDiv > input {
    width: 43vw;
}

#titCadastro {
    font-size: 50px;
    font-weight: 600;
    grid-area: titulo;
}

#nomeDiv {
    grid-area: nome;
}

#inauguracaoDiv {
    grid-area: inauguracao;
}

#telDiv {
    grid-area: tel;
}

#descDiv {
    grid-area: desc;
}

#desc {
    height: 230px;
    resize: none;
}

#estadoDiv {
    grid-area: estado;
}

#estado {
    height: 12vh;
}

#cidadeDiv {
    grid-area: cidade;
}

#ruaDiv {
    grid-area: rua;
}

#pontoRefDiv {
    grid-area: pontoRef;
}

#cnpjDiv {
    grid-area: cnpj;
}

#cepDiv {
    grid-area: cep;
}

#ftMuseuDiv {
    grid-area: ftMuseu;
}

#finalizar {
    text-align: center;
    grid-area: finalizar;
}

.botao {
    width: 14em;
    height: 2.8em;
    border-radius: 0.3em;
    border: none;
    margin: auto;
  
    transition: transform 0.3s ease;
    font-family: "Lexend Exa";
    cursor: pointer;
    transition: 0.5s;

  
    background-color: #7c3939;
    color: #f5e0d4;
  
}

.botao:hover {
    background-color: #6e3131;
    box-shadow: 0 0 5px rgba(124, 57, 57, 0.5);
    transform: scale(1.1);}

.botao:active {
    background-color:  #5e2727;

}

#nomeDiv, #inauguracaoDiv, #telDiv, #descDiv, #ruaDiv, #estadoDiv, #cidadeDiv, #pontoRefDiv, #cnpjDiv, #cepDiv, #ftMuseuDiv {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
}

#diasFunc {
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-area: diasFunc;
    border: 2px solid #282525;
    border-radius: 10px;
    padding: 5px;
}

.diaSemana {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    text-align: center;
    font-size: 18px;
}

input[type="time"] {
    width: 6vw;
    text-align: center;
}

input[type="number"] {
    width: 6vw;
    text-align: center;
}

#titDiasFunc {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}