@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap");
body {
    background:  rgba(245,224,212,1) ;
    font-family: 'Lexend Exa';
}

#formulario {
    width: 90vw;
    position: relative;
    top: 12vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2vw;
    row-gap: 4vh;
    grid-template-areas:
    "titulo titulo titulo titulo"
    "nome inicioProd fimProd ftObra"
    "desc desc autor autor"
    "desc desc genero genero"
    "finalizar finalizar finalizar finalizar";
    margin: auto;
    padding: 20px;
}


label {
    width: fit-content;
    font-size: 22px;
    color: #282525;
    font-family: "Lexend Exa";
}

input, textarea, select, option {
    font-size: 16px;
    padding: 2px 4px;
    margin:2px;
    border: solid 0.1em #282525;
    border-radius: 3px;
}

input {
    width: 20vw;
}

textarea, select, option {
    width: 43vw;
}

#titCadastro {
    font-size: 50px;
    font-weight: 600;
    grid-area: titulo;
}

#nome {
    grid-area: nome;
}

#inicioProd {
    grid-area: inicioProd;
}

#fimProd {
    grid-area: fimProd;
}

#desc {
    grid-area: desc;
}

#descricao {
    height: 32vh;
    resize: none;
}

#autor {
    grid-area: autor;
}

#autorObra {
    height: 12vh;
}

#genero {
    grid-area: genero;
}

#generoObra {
    height: 12vh;
}

#ftObra {
    grid-area: ftObra;
}

#finalizar {
    text-align: center;
    grid-area: finalizar;
}


.botao {
    width: 14em;
    height: 2.8em;
    border-radius: 0.3em;
    border: none;
    margin: auto;
  
    transition: transform 0.3s ease;
    font-family: "Lexend Exa";
    cursor: pointer;
    transition: 0.5s;

  
    background-color: #7c3939;
    color: #f5e0d4;
}
.botao:hover {
    background-color: #6e3131;
    box-shadow: 0 0 5px rgba(124, 57, 57, 0.5);
    transform: scale(1.1);}

.botao:active {
    background-color:  #5e2727;

}


#nome, #inicioProd, #fimProd, #desc, #autor, #genero, #ftObra {
    display: flex;
    flex-direction: column;
}