@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap");
body {
  background: rgba(245, 224, 212, 1);
}
#titulo {
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 90px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: 50px;
  font-weight: 600;
  color: #282525;
  cursor: default;
}

#addGuia {
  position: relative;
  top: 100px;
  left: 30px;
  width: 14em;
  height: 2.8em;
  border-radius: 10px;
  padding: 15px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  transition: transform 0.3s ease;
  font-family: "Lexend Exa";
  cursor: pointer;
  background-color: #7c3939;
  color: #f5e0d4;
}

#addGuia:hover {
  background-color: #6e3131;
  box-shadow: 0 0 5px rgba(124, 57, 57, 0.5);
  transform: scale(1.1);
}

#addGuia:active {
  background-color: #5e2727;
}

#guias {
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 130px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto;
}

.guia {
  width: 1000px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  background-color: #7c3939;
  border: 2px solid #462121;
  border-radius: 15px;
  padding: 10px;
  transition: 0.5s;
}

.guia:hover {
  transform: scale(1.05);
}
.guia:active {
  transform: scale(1);
  background-color: #5f2e2e;
}

.infoGuia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #F5E0D4;
}

.nomeGuia {
  font-size: 30px;
  font-weight: 600;
}

.descGuia {
  width: 650px;
  height: 180px;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.botoes {
  display: flex;
  gap: 10px;
}

.botao {
  height: 2.8em;
  border-radius: 0.3em;
  border: none;
  margin: auto;
  font-weight: 600;
  background-color: #f5e0d4;
  color: #282525;
  transition: transform 0.3s ease;
  font-family: "Lexend Exa";
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.5s;
}
#excluir {
  background-color: transparent;
  color: #f5e0d4;
  border: solid #f5e0d4 2px;
}

.botao:hover {
  background-color: #f5e0d4;
  box-shadow: 0 0 5px rgba(245, 224, 212, 0.5);
  transform: scale(1.1);
}

.botao:active {
  background-color: #d2bfb4;
}

.ftGuia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ftGuia > img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid #282525;
}

@media (max-width: 1025px) {
  .guia {
    width: 730px;
    height: fit-content;
  }

  .descGuia {
    width: 400px;
  }

  .botoes {
    flex-direction: column;
  }
}

@media (max-width: 760px) {
  .guia {
    width: 280px;
    flex-direction: column-reverse;
  }

  .infoGuia {
    gap: 10px;
  }

  .descGuia {
    width: 280px;
  }

  .ftGuia > img {
    max-width: 280px;
    max-height: 280px;
  }

  .botao {
    font-size: 16px;
  }
}