/* Início */
#inicio {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "txtInicio imagemInicio";
    background-color: #F5E0D4;
}

#txtBox {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 5vw;
    grid-area: txtInicio;
}

#tituloIni {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 100px;
}

#descIni {
    text-align: center;
    font-size: 30px;
}

#botao {
    width: 14em;
    height: 2.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.3em;
    color: #f5e0d4;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    background-color: #7c3939;
    cursor: pointer;
    transition: transform 0.3s ease;
    transition: 0.5s;
}

#botao:hover {
    background-color: #6e3131;
    box-shadow: 0 0 5px #7c393980;
    transform: scale(1.1);
}

#botao:active {
    background-color: #5e2727;
}

#login {
    font-size: 20px;
}

#login > a {
    color: #7C3939;
    text-decoration: none;
}

#ilustracao {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: imagemInicio;
}

#ilustracao > .img {
    height: auto;
    position: relative;
}

#ilustracao > .img > img {
    width: 130%;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px #282525;
    transition: 0.5s;
}

.img > img:hover {
    transform: scale(1.01);
    transition: 0.5s;
}

.img:nth-child(1) {
    width: 100%;
    transform: translateX(50%)
}

.img:nth-child(2) {
    width: 80%;
    transform: translate(40%, 30%)
}

.img:nth-child(3) {
    width: 100%;
    transform: translate(-150%, 100%);
}

/* Nossas Funcionalidades */
#nossasFunc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:1fr;
    grid-template-areas:
    "tituloFunc textoFunc"
    "imagensFunc textoFunc";
}

#tituloFunc {
    margin-left: 30px;
    font-size: 50px;
    font-weight: 600;
    grid-area: tituloFunc;
}

/* IMAGENS */
#imagens {
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: imagensFunc;
}

#scan, #tour {
    height: 23vw;
    position: relative;
    transition: 1s;
}

#home {
    height: 27vw;
    margin-left: -55px;
    transition: 1s;
    z-index: 3;
}

#tour {
    margin-left: -55px;
    z-index: 2;
}

#scan {
    z-index: 1;
}

/* TEXTOS */
#textosFunc {
    display: flex;
    align-items: center;
    grid-area: textoFunc;
}

.func {
    position: relative;
}

.titDescFunc {
    width: fit-content;
    position: relative;
    font-size: 50px;
    font-weight: 600;
    left: 2rem;
}

.descFunc {
    width: 36vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-left: solid 5px #7C3939;
    text-align: justify;
    font-size: 20px;
    padding: 20px;
}

.descFunc > h2 {
    margin-top: 5vh;
    font-weight: 600;
}

#textoHome {
    position: relative;
    opacity: 100%;
    transition: 1s;
}

#textoScanner {
    position: relative;
    display: none;
    transition: 1s;
}

#textoTour {
    position: relative;
    display: none;
    transition: 1s;
}

/* TRANSIÇÕES */
#tour:hover {
    height: 35vw;
    margin-left: 10px;
    z-index: 3;
}

#scan:hover {
    height: 35vw;
    margin-right: 80px;
    z-index: 3;
}

#scan:hover ~ #home {
    z-index: 2;
}

#scan:hover ~ #tour {
    z-index: 1;
}

#imagens:has(#tour:hover) ~ #textosFunc #textoTour {
    display: block;
}

#imagens:has(#tour:hover) ~ #textosFunc #textoHome {
    display: none;
}

#imagens:has(#scan:hover) ~#textosFunc #textoScanner{
    display: block;
}

#imagens:has(#scan:hover) ~ #textosFunc #textoHome{
    display: none;
}

/*Sobre o App */
#sobreApp {
    background-image: url("../Resources/fotoRomero.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#txtBoxApp {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    background-color: #2b2a2a70;
    grid-area: descSobreApp;
}

#tituloApp {
    font-size: 47px;
    font-weight: 600;
}

#subtitApp {
    width: 45vw;
    font-size: 28px;
    text-align: center;
}

#botaoApp {
    width: 14em;
    height: 2.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.3em;
    color: #f5e0d4;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    background-color: #7c3939;
    cursor: pointer;
    transition: transform 0.3s ease;
    transition: 0.5s;
}

#botaoApp:hover {
    background-color: #6e3131;
    box-shadow: 0 0 5px #7c393980;
    transform: scale(1.1);
}

#botaoApp:active {
    background-color: #5e2727;
}

#imgRomero {
    width: 50vw;
    height: 100vh;
    grid-area: imagemSobreApp;
}

/*Sobre a Empresa */
#sobreEmp {
    width: 100vw;
    min-height: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Resources/mockupVisus.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#txtBoxEmp {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#tituloEmp {
    font-size: 70px;
    font-weight: 600;
    color: #6DC83C;

}

#info {
    border-left: solid 5px #6DC83C;
    height: fit-content;
    padding: 20px;
    text-align: justify;
    color: whitesmoke;
    font-size: 2vh;
}

#visusIntegrantes {
    width: auto;
    height: 74vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#info > h2 {
    margin-top: 5vh;
    color: #6DC83C;
    font-weight: 600;

}

/* Integrantes */
#integrantes {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "imagem texto";
    background-color: #7C3939;
    z-index: 1;
}

#listaIntegrantes {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;
    color: #282525;
    grid-area: texto;
}

#listaIntegrantes > img {
    width: fit-content;
    height: 10vw;
    box-shadow: 0px 0px 3px 0px #282525;
    border-radius: 100px;
}

#listaIntegrantes ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listaIntegrantes li {
    text-align: center;
    font-size: 1.2vw;
    color: #F5E0D4;
}

#listaIntegrantes h1 {
    font-size: 2.4vw;
    font-weight: 600;
    color: #F5E0D4;
}

#visusIntegrantes {
    width: auto;
    height: 77.5vh;
    grid-area: imagem;
}

@media(max-width:1535px){

    /* /Integrantes/ */
    #integrantes {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "imagem"
        "texto";
    }

    #listaIntegrantes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center;
        height: 70vh;
    }

    #listaIntegrantes > ul > li {
        font-size: 12px;
        color: #F5E0D4;
    }

    #listaIntegrantes > h1 {
        font-size: 32px;
        text-align: center;
        color: #F5E0D4;
    }

    #listaIntegrantes > img {
        width: fit-content;
        height: 15vh;
    }

    #visusIntegrantes {
        width: 100vw;
        height: auto;
    }
}

@media(max-width:768px) {

    /* /Inicio/ */
    #txtBox {
        width: 90vw;
    }

    #ilustracao {
        display: none;
    }

    #tituloIni {
        font-size: 40px;
    }

    #descIni {
        font-size: 20px;
    }

    /* /Funcionalidades/ */
    #nossasFunc {
        height: fit-content;
        grid-template-columns: 1fr;
        grid-template-areas:
        "tituloFunc"
        "textoFunc";
    }

    #tituloFunc {
        width: 80vw;
        margin-bottom: 50px;
    }

    #imagens {
        display: none;
    }

    #textosFunc {
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .func {
        width: 95vw;
        margin-left: 4vw;
    }

    .descFunc {
        width: 75vw;
        font-size: 18px;
    }

    #textoHome, #textoTour, #textoScanner {
        display: block;
    }

    /* /Sobre o App/ */
    #imgRomero {
        display: none;
    }

    /* /Funcionalidades/ */
    #tituloFunc {
        font-size: 32px;
    }

    .titDescFunc {
        font-size: 34px;
    }

    .descFunc {
        font-size: 16px;
    }

    /* /Sobre a empresa/ */
    #sobreEmp {
        min-height: 70vw;
    }

    #tituloEmp {
        font-size: 40px;
    }

    #info > h2 {
        margin-top: 1vh;
    }

    #info > h3 {
        font-size: 16px;
    }
}

@media(max-width:425px){

    /* /Sobre o App/ */
    #sobreApp {
        height: 70vh;
    }

    #tituloApp {
        text-align: center;
        width: 100vw;
        font-size: 40px;
    }

    #subtitApp {
        width: 100vw;
    }

    #botaoApp {
        width: 200px;
        font-size: 11px;
    }

    /* /Sobre a empresa/ */
    #tituloEmp {
        font-size: 30px;
    }

    #info > h2 {
        font-size: 16px;
        margin-top: 1vh;
    }

    #info > h3 {
        font-size: 14px;
    }
}