@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap");
body {
  font-family: "Lexend Exa";
}
#obra {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-left: 20px;
}

#infoObra {
    width: 50vw;
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 12vh;
    padding-bottom: 5vh;
    overflow: auto;
    white-space: nowrap;
}

#infoObra::-webkit-scrollbar {
    display: none;
}

#infoObra > p, h1, div {
    white-space: normal;
}

#nomeObra {
    width: 40vw;
    font-size: 50px;
}

#descObra, #autor, #dtInicio, #dtFim, #genero, #localObra {
    width: 45vw;
    font-size: 20px;
}

#botoes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#editar,#excluir{
    width: 20em;
    height: 3em;
    border-radius: 0.3em;
    border: none;
    margin: auto;
  
    transition: transform 0.3s ease;
    font-family: "Lexend Exa";
    cursor: pointer;
    transition: 0.5s;
  
    background-color: #7c3939;
    color: #f5e0d4;
    font-size: 20px;
  }
  #excluir{
    border:solid 2px #7c3939;
    background-color: transparent;
    color: #7c3939;
  }
  
  #editar:hover {
    background-color: #6e3131;
    box-shadow: 0 0 5px rgba(124, 57, 57, 0.5);
    transform: scale(1.1);
  }
  #excluir:hover{
    box-shadow: 0 0 5px rgba(124, 57, 57, 0.5);

    transform: scale(1.1);
  }
  #excluir:active{
    color: #f5e0d4;
    background-color: #5e2727;
  }
  
  #editar:active {
    background-color: #5e2727;
  }

#fotoObra {
    width: 50vw;
    height: 100vh;
}

@media (max-width: 768px) {
    #obra {
        flex-direction: column;
        justify-content: space-between;
    }

    #infoObra {
        width: 100vw;
        height: 100vh;
    }

    #nomeObra {
        width: 90vw;
        font-size: 40px;
    }

    #descObra, #autor, #dtInicio, #dtFim, #genero, #localObra {
        width: 90vw;
    }

    #fotoObra {
        display: none;
    }

    #editar, #excluir {
        width: 90vw;
        font-size: 16px;
    }
}