@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap");
body{
    font-family: 'Lexend Exa';
}
#artista {
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 20px;
}

#infoArtista {
    width: 50vw;
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 12vh;
    padding-bottom: 5vh;
    overflow: auto;
    white-space: nowrap;
}

#infoArtista::-webkit-scrollbar {
    display: none;
}

#infoArtista > p, h1, div {
    white-space: wrap;
}

#nomeArtista {
    width: 40vw;
    font-size: 50px;
}

#descArtista, #nascimento, #morte {
    width: 45vw;
    font-size: 20px;
}

#editar {
    width: 20em;
    height: 3em;
    border-radius: 0.3em;
    border: none;
    margin: auto;
  
    transition: transform 0.3s ease;
    font-family: "Lexend Exa";
    cursor: pointer;
    transition: 0.5s;

  
    background-color: #7c3939;
    color: #f5e0d4;
    font-size: 20px;
  
}

#editar:hover {
    background-color: #6e3131;
    box-shadow: 0 0 5px rgba(124, 57, 57, 0.5);
    transform: scale(1.1);}

#editar:active {
    background-color:  #5e2727;

}

#fotoArtista {
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 0;
}

@media (max-width: 768px) {
    #artista {
        flex-direction: column;
        justify-content: space-between;
    }

    #infoArtista {
        width: 100vw;
        height: 100vh;
    }

    #nomeArtista {
        width: 90vw;
        font-size: 40px;
    }

    #descArtista, #nascimento, #morte {
        width: 90vw;
        font-size: 16px;
    }

    #fotoArtista {
        display: none;
    }
}