@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap");
body {
    background:  rgba(245,224,212,1) 
  
}
#login{
    padding-top: 70px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#formulario {
    display: flex;
    flex-direction: column;
    background-color: #7c3939;
    padding: 2.5em;
    width: fit-content;
    align-items: center;
    gap: 1.5em;
    border-radius: 2em;
    box-shadow: 0.2em 0.2em 0.3em #282525b3;
}

form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#titulo {
    color: #f5e0d4;
    font-family: "Lexend Exa";
    font-weight: 600;
    text-align: center;
    font-size: 45px;
}

#inputEmail, #inputSenha {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

#submit {
    width: 14em;
    height: 2.8em;
    border-radius: 0.3em;
    border: none;
    margin: auto;
    background-color: #f5e0d4;
    color: #282525;
    transition: transform 0.3s ease;
    font-family: "Lexend Exa";
    cursor: pointer;
    transition: 0.5s;
}

#submit:hover {
    background-color: #f5e0d4;
    box-shadow: 0 0 5px rgba(245, 224, 212, 0.5);
    transform: scale(1.1);
}

#submit:active {
    background-color:  #d2bfb4;

}

label {
    width: fit-content;
    font-size: 22px;
    color: #F5E0D4;
    font-family: "Lexend Exa";
}

input {
    width: 400px;
    font-size: 16px;
    padding: 0.5em;
    border: solid 0.1em #f5e0d4;
    border-radius: 0.2em;
    font-family: "Lexend Exa";
}
input::placeholder{
    color: #999;
    font-style: italic;
}
input:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(245, 224, 212, 0.8);
    border-color: #f5e0d4;
    border-radius: 0.2em;
}

@media (max-width: 630px) {
    #formulario {
        width:350px;
    }
   input{
    width: 340px;
   }
   input::placeholder{
    font-size: 15px;
   }
   label{
    font-size: 20px;
   }
    #submit {
        width: 200px;
    }
}