@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap");
body {
  background: rgba(245, 224, 212, 1);
}
#titulo {
  width: 80vw;
  position: relative;
  top: 100px;
  left: 50px;
  font-size: 50px;
  font-weight: 600;
}

#obras {
  width: 100vw;
  position: relative;
  top: 130px;
  display: flex;
  white-space: nowrap;
  overflow: auto;
}

.obra {
  width: fit-content;
  white-space: wrap;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #f5e0d4;
  background-color: #7c3939;
  border: 2.5px solid #462121;
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.obra:hover {
  transform: scale(1.05);
}

.numObra {
  font-size: 30px;
  font-weight: 600;
}

.selectObra {
  display: flex;
  align-items: center;
  gap: 10px;
}

.opcoesObras {
  width: 250px;
  font-size: 16px;
}

.opcoesObras > option {
  font-size: 14px;
  font-weight: 500;
}

.descCaminhoObra {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.caminhoObra {
  width: 400px;
  height: 150px;
  resize: none;
  padding: 10px;
}

#botoes {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  top: 180px;
}
#botoes > input:last-child {
  background-color: transparent;
  border: solid 2px #7c3939;
  color: #7c3939;
}

#salvar {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  top: 200px;
  margin-bottom: 20px;
}

.botao {
  width: 14em;
  height: 2.8em;
  border-radius: 10px;
  padding: 15px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  transition: transform 0.3s ease;
  font-family: "Lexend Exa";
  cursor: pointer;
  background-color: #7c3939;
  color: #f5e0d4;
}

.botao:hover {
  background-color: #6e3131;
  box-shadow: 0 0 5px rgba(124, 57, 57, 0.5);
  transform: scale(1.1);
}

.botao:active {
  background-color: #5e2727;
}
@media (max-width: 630px) {
  #titulo {
    font-size: 40px;
    left: 20px;
  }
}

@media (max-width: 460px) {
  .obra,
  .caminhoObra {
    width: 250px;
  }

  #botoes {
    flex-direction: column;
  }
}