/* Início */
#comeco {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#tituloComeco {
    font-size: 44px;
    width: 32vw;
}

#mockupLeontis {
    height: 60vh;
    width: auto;
    border-radius: 50px;
}

/* Modelo de transição */
.transicao {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    text-align: center;
    color: whitesmoke;
    background-color: #282525;
}

.imgFundo {
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0.5;
    z-index: 0;
}

/* Modelo de caixa de texto */
.txtBox {
    width: 35vw;
    display: flex;
    flex-direction: column;
}

.titBox {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 20px;
}

.descBox {
    font-size: 14px;
    text-align: justify;
}

/* Modelo de cards */
.containerCards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 0 100px;
}

.card {
    width: 300px;
    height: 185px;
    text-align: center;
    font-size: 12px;
    border: 2px solid #F5DED4;
    border-radius: 30px;
    transition: 0.5s;
}

.darkCard {
    width: 300px;
    height: 185px;
    border: #282525 2px solid;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    align-items: center;
    transition: 0.5s;
}

.card:hover, .darkCard:hover {
    transform: scale(1.02);
}

.card:active, .darkCard:active {
    transform: scale(1);
}

.cardIcon {
    height: 70px;
    width: 70px;
    margin: 25px 0;
}

/* O aplicativo */
#explicacaoLeontis {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#ilustracao {
    display: flex;
    align-items: center;
}

#ilustracao > img {
    transition: 0.5s;
    cursor: pointer;
}

#ilustracao > img:hover {
    transform: scale(1.02);
}

#ilustracao > img:nth-child(1) {
    position: relative;
    top: 2rem;
    left: 2rem;
    z-index: 1;
}

#ilustracao > img:nth-child(2) {
    position: relative;
    bottom: 2rem;
}

#ilustracao > img:nth-child(3) {
    position: relative;
    top: 1.5rem;
    right: 2rem;
}

/* Diferenciais */
#diferenciais {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #F5DED4;
    background-color: #282525;
}

#titDiferenciais {
    display: flex;
    justify-content: center;
    font-size: 44px;
}

.subtitDiferenciais {
    font-size: 24px;
}

/* Historia */
#historia {
    background-color: #282525;
    color:#F5DED4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#ilustracaoHist {
    height: 57.5vh;
    border-radius: 20px;
    border: #F5DED4 1px solid;
}

/* ODS */
#sustentCult, #cultxTec {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info {
    width: 36vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: solid 5px #7C3939;
    padding: 20px;
}

#titSustentCult, #titCultxTec {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitSustentCult {
    margin-top: 20px;
    font-size: 20px;
}

#descSustentCult, #descCultxTec {
    font-size: 12px;
}

#imagemOds{
    width: 400px;
    height: 400px;
    box-shadow: 5px 5px 15px 0px #282525;
}

#fotoObra{
    height: 400px;
    border-radius: 30px;
}

/* Planos Futuros */
#planosFuturos {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#titPlanosFuturos {
    text-align: center;
    font-size: 44px;
}

#planosFuturos .containerCards .cardsDisplay .cards {
    width:  300px;
    height: 200px;
    border-color: #282525;
}

#nomeApp {
    font-family: 'Asap Condensed'!important;
}

@media (max-width:1235px) {

    /* Início */
    #comeco {
        height: 100vh;
        flex-direction: column;
    }

    #tituloComeco {
        margin-top: 30px;
        width: 80vw;
        font-size: 32px;
    }

    #mockupLeontis {
        width: auto;
        height: 50vh;
    }

    /* Modelo de caixa de texto */
    .txtBox {
        width: 80vw;
    }

    /* Sobre o aplicativo */
    #explicacaoLeontis {
        flex-direction: column;
        gap: 50px;
        padding: 50px 0;
        height: fit-content;
    }

    #ilustracao > img {
        height: 270px;
    }

    /* Diferenciais */
    #diferenciais {
        gap: 25px;
        padding: 50px 0;
        height: fit-content;
    }

    /* História */
    #historia {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding: 50px 0;
        height: fit-content;
    }

    #historia > img {
        width: 60vw;
        height: auto;
    }

    #imagemOds {
        width: 250px;
        height: 250px;
    }

    #fotoObra {
        width: 400px;
        height: auto;
    }

    #planosFuturos {
        padding: 50px 0;
        height: fit-content;
    }

    #titPlanosFuturos {
        margin-bottom: 25px;
    }
}

@media (max-width:768px) {

    #tituloComeco {
        font-size: 24px;
    }

    .containerCards {
        padding: 0 25px;
    }

    .transicao {
        font-size: 28px;
    }

    .titBox {
        font-size: 28px;
    }

    .descBox {
        text-align: start;
    }

    #titDiferenciais {
        font-size: 28px;
    }

    #sustentCult, #cultxTec {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12vh 0;
    }

    #cultxTec {
        flex-direction: column-reverse;
    }

    #titSustentCult, #titCultxTec {
        font-size: 24px;
    }

    .subtitSustentCult {
        font-size: 20px;
    }

    #descSustentCult, #descCultxTec {
        font-size: 14px;
    }

    #fotoObra {
        width: 320px;
        height: auto;
    }

    .info {
        width: 70vw;
        height: fit-content;
        position: static;
        margin: 50px;
    }
}

@media (max-width: 428px) {

    #ilustracao {
        width: 100vw;
    }

    #ilustracao > img {
        height: 230px;
    }

    #fotoObra {
        width: 300px;
    }

    .containerCards {
        width: 100vw;
        padding: 0;
    }
}